*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5F5;
}
.text-center{
    text-align: center;
}

header{
    /* border: 2px solid green; */
    /* padding: 20px; */
    display: flex;
    justify-content: right;
}
.nav-dropdown{
    position: fixed;
    top: 0px;
    border: none;
    border-radius: 20px;
    padding: 20px;
    color: white;
    background: linear-gradient(#882D7C, #A23E63);
}
.nav-dropdown-btn{
    color: white;
    background-color: inherit;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
}
.nav-hamburger-icon{
    width: 50px;
}

.dropdown-menu{
    display: none;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.nav-link{
    color: white;
    font-size: 22px;
}

.hero-img{
    width: 100%;
    height: 100%;
    background-image: url('./assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}
/* media query to make image full screen on mobile screens */
@media (max-width: 768px){
    .hero-img{
        width: 100%;
    }
    header{
        justify-content: center;
    }
}
/* About me */
.about-container{
    /* border: 2px solid green; */
    width: 50%;
    margin: 0 auto;
}
.about-desc{
    display: flex;
    gap: 40px;
}
.profile-pic{
    width: 50%;
    /* border: 2px solid green; */
}
/* responsive img */
@media (max-width: 768px){
    .about-container{
        width: 100%;
    }
    .about-desc{
        flex-direction: column;
    }
    .profile-pic{
        width: 100%;
    }
    
}
.about-me{
    /* border: 2px solid green; */
    width: 50%;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
}
.about-me-text{
    font-size: 1.5rem;
    /* color: #4A2683;
    margin: 20px 0px; */
}
@media (max-width: 768px){
    .about-me{
        width: 100%;
        margin-top: 50%;
    }

}
.hello-world{
    /* text-align: center; */
    font-size: 40px;
    font-weight: bold;
    color: #4A2683;
    margin-bottom: 20px;
}
h1{
    font-size: 5rem;
}
.about{
    font-size: 2.0rem;
    color: #4A2683;
    margin: 20px 0px;
}
